<h2>Tag cloud</h2>
{% capture temptags %}
  {% for tag in site.tags %}
    {{ tag[1].size | plus: 1000 }}#{{ tag[0] }}#{{ tag[1].size }}
  {% endfor %}
{% endcapture %}
<!--{% assign sortedtemptags = temptags | split:' ' | sort | reverse %}-->
{% assign sortedtemptags = temptags | strip | replace: "  ", " " | split:' ' | sort | reverse %}

<!--{% for temptag in sortedtemptags %}-->
<!--  {% assign tagitems = temptag | split: '#' %}-->
<!--  {% capture tagname %}{{ tagitems[1] }}{% endcapture %}-->
<!--  <a href="/tag/{{ tagname }}"><code class="highligher-rouge"><nobr>{{ tagname }}</nobr></code></a>-->
<!--{% endfor %}-->

{% assign sorted_tags = site.tags | sort %}
{% for tag in sorted_tags %}
  <a href="/tag/{{ tag[0] }}"><code class="highligher-rouge"><nobr>{{ tag[0] }}</nobr></code></a>
{% endfor %}