<footer>
<!--    <a href="https://github.com/Vadimhungry"><img src="/assets/img/socials/github.svg" width="32px"></a>-->
<!--    <a href="https://www.facebook.com/vadim.kovach.7/"><img src="/assets/img/socials/facebook.svg" width="32px"></a>-->
<!--    <a href="https://www.linkedin.com/in/vadim-kovach/"><img src="/assets/img/socials/linkedin.svg" width="32px"></a>-->
<!--    <a href="https://www.reddit.com/user/Low_Assistant_8429"><img src="/assets/img/socials/reddit.svg" width="32px"></a>-->
<!--    <a href="https://www.instagram.com/fat_cat_eat_that/"><img src="/assets/img/socials/instagram.svg" width="32px"></a>-->
</footer>