<footer>
    <a href="https://github.com/Vadimhungry"><img src="/assets/img/socials/github.svg"></a>
    <a href="https://www.facebook.com/vadim.kovach.7/"><img src="/assets/img/socials/facebook.svg"></a>
    <a href="https://www.linkedin.com/in/vadim-kovach/"><img src="/assets/img/socials/linkedin.svg"></a>
    <a href="https://www.reddit.com/user/Low_Assistant_8429"><img src="/assets/img/socials/reddit.svg"></a>
    <a href="https://www.instagram.com/fat_cat_eat_that/"><img src="/assets/img/socials/instagram.svg"></a>
<!--        <p align="left">-->
<!--          <a href="https://www.facebook.com/vadim.kovach.7/" target="_blank" rel="noreferrer">-->
<!--            <picture>-->
<!--              <source media="(prefers-color-scheme: dark)"-->
<!--                      srcset="https://raw.githubusercontent.com/danielcranney/readme-generator/main/public/icons/socials/facebook-dark.svg"/>-->
<!--              <source media="(prefers-color-scheme: light)"-->
<!--                      srcset="https://raw.githubusercontent.com/danielcranney/readme-generator/main/public/icons/socials/facebook.svg"/>-->
<!--              <img src="https://raw.githubusercontent.com/danielcranney/readme-generator/main/public/icons/socials/facebook.svg"-->
<!--                   width="32" height="32"/></picture>-->
<!--          </a> <a href="https://www.github.com/Vadimhungry" target="_blank" rel="noreferrer">-->
<!--          <picture>-->
<!--            <source media="(prefers-color-scheme: dark)"-->
<!--                    srcset="https://raw.githubusercontent.com/danielcranney/readme-generator/main/public/icons/socials/github-dark.svg"/>-->
<!--            <source media="(prefers-color-scheme: light)"-->
<!--                    srcset="https://raw.githubusercontent.com/danielcranney/readme-generator/main/public/icons/socials/github.svg"/>-->
<!--            <img src="https://raw.githubusercontent.com/danielcranney/readme-generator/main/public/icons/socials/github.svg"-->
<!--                 width="32" height="32"/></picture>-->
<!--        </a> <a href="http://www.instagram.com/fat_cat_eat_that/" target="_blank" rel="noreferrer">-->
<!--          <picture>-->
<!--            <source media="(prefers-color-scheme: dark)" srcset="undefined"/>-->
<!--            <source media="(prefers-color-scheme: light)"-->
<!--                    srcset="https://raw.githubusercontent.com/danielcranney/readme-generator/main/public/icons/socials/instagram.svg"/>-->
<!--            <img src="https://raw.githubusercontent.com/danielcranney/readme-generator/main/public/icons/socials/instagram.svg"-->
<!--                 width="32" height="32"/></picture>-->
<!--        </a> <a href="https://www.linkedin.com/in/vadim-kovach/" target="_blank" rel="noreferrer">-->
<!--          <picture>-->
<!--            <source media="(prefers-color-scheme: dark)"-->
<!--                    srcset="https://raw.githubusercontent.com/danielcranney/readme-generator/main/public/icons/socials/linkedin-dark.svg"/>-->
<!--            <source media="(prefers-color-scheme: light)"-->
<!--                    srcset="https://raw.githubusercontent.com/danielcranney/readme-generator/main/public/icons/socials/linkedin.svg"/>-->
<!--            <img src="https://raw.githubusercontent.com/danielcranney/readme-generator/main/public/icons/socials/linkedin.svg"-->
<!--                 width="32" height="32"/></picture>-->
<!--        </a></p>-->
        <!--        {% if site.github.is_project_page %}-->
        <!--        <p class="view"><a href="{{ site.github.repository_url }}">View the Project on GitHub <small>{{ site.github.repository_nwo }}</small></a></p>-->
        <!--        {% endif %}-->

        <!--        {% if site.github.is_project_page %}-->
        <!--        <p><small>Maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></small></p>-->
        <!--        {% endif %}-->

        <!--        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>-->
                
      </footer>