<!-- start custom head snippets, customize with your own _includes/head-custom.html file -->

<!-- Setup Google Analytics -->
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-4KWC0M6WWC"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-4KWC0M6WWC');
</script>

<!-- You can set your favicon here -->
<link rel="shortcut icon" type="image/png" href="/assets/img/favicon.png">

{% if site.tags != "" %}
  {% include collecttags.html %}
{% endif %}
